.label {
  box-sizing: border-box;
  width: 35vw;
  min-width: 250px;
  position: relative;
  display: flex;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #fff;
}
.invalid {
  border-color: red;
}
.radio {
  position: absolute;
  left: 1%;
  top: 14%;
}
@media screen and (min-width: 768px) {
  .label {
    width: 100%;
    min-width: 250px;
  }
}