.input {
  width: 30vw;
  min-width: 250px;
  height: 60px;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: 0.7s;
}
.input::placeholder {
  color: rgba(0, 0, 0, 0.696);
}
.error {
  display: block;
  position: absolute;
  margin: auto;
  border-radius: 2px;
  background-color: #ff3333;
  text-align: center;
  color: #fff;
  z-index: 999;
}

.invalid {
  background-color: #b10101;
}
@media screen and (min-width: 768px) {
  .inputForSignUp {
    width: 15vw;
    min-width: 250px;
  }
}
@media screen and (min-width: 1500px) {
  .inputForSignUp {
    width: 17vw;
    min-width: 250px;
  }
}
