.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 30vw;
  min-width: 250px;
  height: 60px;
  margin-top: 10px;
  border: 1px solid #26d5cd;
  border-radius: 3px;
  background-color: #26d5cd;
  color: white;

  text-transform: uppercase;
  cursor: pointer;
}
